{
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "all",
  "semi": true,
  "importOrderSeparation": true,
  "importOrderBuiltinModulesToTop": true,
  "importOrderSortSpecifiers": true,
  "importOrderCaseInsensitive": true,
  "importOrder": ["<THIRD_PARTY_MODULES>", "^@/(.*)$", "^[./]"]
}
