@import './theme/_theme.scss';

.container {
  text-align: center;
  display: flex;
  min-height: 100vh;
  color: $blackspace;
}

.content {
  display: flex;
  flex: 1;
}

.pageContainer {
  padding: 20px;
  width: 80vw;
}

.headerContainer {
  display: flex;
  background-color: white;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  padding: 0 16px;
}

.titleContainer {
  font-size: 1.5rem;
  font-weight: 600;
}

.contentContainer {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.sidebarContainer {
  background: $grey20;
  width: 25vw;
  display: flex;

  &__menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 0.75rem;
    margin-top: 3rem;

    ul {
      list-style-type: none;
      padding: 0;
      width: 100%;

      li {
        padding: 16px;
        background-color: $grey10;
        margin-bottom: 0.25rem;
        text-align: left;

        &.active a {
          color: $primary;
        }

        a {
          text-decoration: none;
          color: $blackspace10;
        }
      }
    }
  }
}

.leftContainer {
  background-color: $primary;
  width: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
  padding: 1rem 0;
}

.logoContainer {
  display: flex;
  align-items: center;
  margin-top: 0.75rem;

  &__avatar {
    padding: 0 8px;
  }

  &__user {
    text-align: left;

    p {
      margin: 0;
      font-size: 1.25rem;
      font-weight: 600;
    }

    span {
      font-size: 0.75rem;
      color: $blackspace20;
    }
  }
}
