$primary: #e8590c;
$blackspace: #000133;
$blackspace10: #00022e;
$blackspace20: #31323c;
$grey10: #d8dcd6;
$grey20: #e7e7e7;
$grey30: #f2f2f2;
$grey40: #f9f9fa;
$grey50: #f1f1f1;
$red10: #ed1b1b;
$red20: #feb2b4;
$red30: #faf0f0;
$blue10: #e7eff5;
$blue20: #4b7b9c;
$green10: #e0faec;
$green20: #5ada96;
$green30: #2a8451;

:export {
  primaryColor: $primary;
}
